plugin/EsempioPlugin1/file/schemaFileDati.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="FileEsempio">
<xs:complexType>
 <xs:sequence>
 
 
<xs:element name="dato1">
    <xs:complexType>
     <xs:attribute name="valore" type="xs:string" use="required"/>
          			  
    </xs:complexType>
    </xs:element>
    
   </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 
